<div class="row mt-2">
  <div class="col">
    <a *ngFor="let item of list"
         class="bq bq-secondary no-link box"
         [ong-href]="'/kit/'+item.link.toLowerCase()"
         [class.bq-danger]="item.link === dataLink"
         aria-hidden="true"
         role="button"
    >
      {{item.link}}
    </a>
  </div>
  <div class="col-9">

    <ng-container *ngIf="ref !== undefined">

      <h1 class="bq bq-info">{{dataLink}}</h1>

      <h5 class="mt-1">Attributes:</h5>
      <table>
        <tr *ngFor="let item of dataAttributes">
          <td class="wrap-line"><b>{{item.key}}</b></td>
          <td class="wrap-line">{{item.value}}</td>
        </tr>
      </table>

      <h5 class="mt-1">Example:</h5>
      <ong-tabs [tabColor]="'info'" [tabStyle]="'line'" [tabDefault]="'TS'">
        <ng-template ong-tab-name="TS" *ngIf="dataExampleTS">
          <div class="code wrap">{{dataExampleTS}}</div>
        </ng-template>
        <ng-template ong-tab-name="HTML" *ngIf="dataExampleHTML">
          <div class="code wrap">{{dataExampleHTML}}</div>
        </ng-template>
      </ong-tabs>

      <h5 class="mt-1">Preview</h5>

    </ng-container>

    <div class="m-1">
      <ng-template #demo></ng-template>
    </div>

  </div>
</div>


