<div class="row mt-2">
  <div class="col">
    <div *ngFor="let item of list"
         class="bq bq-secondary"
         (click)="show(item)"
         [class.bq-danger]="item.link === data?.link"
         aria-hidden="true"
         role="button"
    >
      {{item.link}}
    </div>
  </div>
  <div class="col-9">

    <ng-container *ngIf="data">

      <h1 class="bq bq-info">{{data.link}}</h1>

      <div class="m-1">
        <i>Attributes</i>:
        <table class="mt-1">
          <tr *ngFor="let item of data.attributes|map2Slice">
            <td><b>{{item.key}}</b></td>
            <td>{{item.value}}</td>
          </tr>
        </table>
      </div>

      <div class="m-1">
        <i>Example</i>:
        <div class="mt-1 code wrap">{{data.example}}</div>
      </div>

      <h5 class="mt-1">Preview</h5>

    </ng-container>
    <div class="m-1">
      <ng-template #demo></ng-template>
    </div>

  </div>
</div>


