:host {
  display: block;
}

.active-route {
  font-weight: bold;
  text-decoration-line: underline overline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: from-font;
  text-underline-offset: 5px;
}

aside a {
  text-transform: uppercase;
}
