@use "sass:map";
@use "env";

/*
@name Responsive
@desc Some merges support different screen sizes. To apply merges to a specific screen, add a size prefix before the css class, example: <b>md:css-class</b>
@group Responsive
@prop xs: := extra small screens e.g. old phones
@prop sm: := small screens e.g. phones
@prop md: := medium screens e.g. tablets
@prop lg: := large screens e.g. notebooks
@prop xl: := larger screens e.g monitors
*/

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--ong-color-secondary-bg) var(--ong-color-secondary-bg);
}

::-webkit-scrollbar {
  width: calc(var(--ong-base-size) * .3);

  &-track {
    background: var(--ong-color-light-bg);
    border-radius: var(--ong-radius-size);
  }

  &-thumb {
    background-color: var(--ong-color-secondary-bg);
    border-radius: var(--ong-radius-size);
    border: var(--ong-base-size) solid var(--ong-color-secondary-bg);
  }
}

html {
  font-size: var(--ong-font-size);
  font-family: var(--ong-font-family-sans-serif);
  line-height: var(--ong-line-height);
  text-rendering: optimizeLegibility;
  unicode-bidi: plaintext;
  background-color: var(--ong-body-bg);
}

body {
  overflow-y: scroll;
  background-color: var(--ong-body-bg);
}
