$ong-color-names: light, secondary, warning, danger, success, info, primary, dark;

$ong-position-prefix: (
  "t": "top",
  "b": "bottom",
  "r": "right",
  "l": "left",
);

$ong-size: (
  "xs": .6,
  "sm": .8,
  "md": 1,
  "lg": 1.2,
  "xl": 1.4,
);

