@use "env";

@mixin width($size) {
  flex-basis: $size;
  max-width: $size;
}

@mixin calc-width($size, $id, $count) {
  @include width(calc($size * $id / $count))
}

$grid-size: 100%;
$grid-count: 12;

.row, .r {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: var(--ong-margin-y-size) var(--ong-margin-x-size);
  @include width($grid-size);

  .col, .c {
    box-sizing: border-box;
    flex: 1 0 fit-content;
    padding: var(--ong-padding-y-size) var(--ong-padding-x-size);
  }

  @for $i from 1 through $grid-count {
    .col-#{$i}, .c#{$i} {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding: var(--ong-padding-y-size) var(--ong-padding-x-size);
      @include calc-width($grid-size, $i, $grid-count);
    }
  }
}
