@use "env";

html {
  font-size: var(--ong-font-size);
  font-family: var(--ong-font-family-sans-serif);
  line-height: var(--ong-line-height);
  text-rendering: optimizeLegibility;
  unicode-bidi: plaintext;
  background-color: var(--ong-body-bg);
}

body {
  overflow-y: scroll;
  background-color: var(--ong-body-bg);
}

pre, code, .code {
  font-family: var(--ong-font-family-monospace) !important;
  font-weight: 100;
}

hr {
  margin: var(--ong-base-size) 0;
  opacity: 0.25;
}

p {
  padding: var(--ong-padding-y-size) 0;
  hyphens: auto;
  hyphenate-character: auto;
  white-space: pre-wrap;
}

@for $i from 1 through 6 {
  h#{7-$i} {
    font-size: calc(var(--ong-base-size) + var(--ong-base-size) * $i * .25);
    padding: var(--ong-padding-y-size) 0;
  }
}

table {
  table-layout: fixed;
  width: 100%;
  vertical-align: top;
  caption-side: bottom;
  border-collapse: collapse;
  empty-cells: show;

  tr {
    border-bottom: 1px solid var(--ong-color-secondary-bg);
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: var(--ong-padding-y-size) var(--ong-padding-x-size);
    width: auto;
  }
}

input, textarea, select {
  display: inline-block;
  background: none;
  position: relative;
  border: var(--ong-line-size) solid var(--ong-color-secondary-bg);
  border-radius: var(--ong-radius-size);
  padding: var(--ong-padding-y-size) var(--ong-padding-x-size);

  &:is([disabled]) {
    opacity: var(--ong-opacity);
    cursor: not-allowed;
    pointer-events: none;
  }
}

input[type="file"] {
  padding: var(--ong-padding-y-size) var(--ong-padding-x-size);

  &::file-selector-button {
    display: none;
  }
}

input[type="checkbox"] {
  display: inline-block;
  align-items: center;
  width: calc(var(--ong-font-size) * 4);
  height: calc(var(--ong-font-size) * 2);
  border-radius: var(--ong-radius-size);
  appearance: none;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;

  & + label {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin-left: var(--ong-padding-y-size);
  }

  &::before, &:checked::before {
    content: '';
    background-color: var(--ong-color-secondary-bg);
    width: calc(var(--ong-font-size) * 2);
    height: calc(var(--ong-font-size) * 2);
    position: absolute;
    display: block;
    vertical-align: middle;
    margin: auto;
    top: 0;
    line-height: 1;
  }

  &:not(:checked)::before {
    left: 0;
  }

  &:checked::before {
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
    background-image: var(--ong-svg-check);
  }
}

textarea {
  resize: vertical;
}

dialog {
  border: var(--ong-line-size) solid var(--ong-color-secondary-bg);
  padding: var(--ong-padding-y-size) var(--ong-padding-x-size);
  border-radius: var(--ong-radius-size);
  z-index: 999999;

  margin: 10vh auto 0 auto;
  min-width: 50%;
  max-width: 80%;
  max-height: 80vh;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
  }
}





