:root, [data-ong-theme="colorful"] {
  --ong-color-warning-bg: #ffdd70;
  --ong-color-warning-text: #000000;

  --ong-color-danger-bg: #ff727c;
  --ong-color-danger-text: #000000;

  --ong-color-success-bg: #90d997;
  --ong-color-success-text: #000000;

  --ong-color-info-bg: #6d8ff8;
  --ong-color-info-text: #FFFFFF;

  --ong-color-primary-bg: #b06eff;
  --ong-color-primary-text: #FFFFFF;
}
