:root, [data-ong-theme="forest"] {
  --ong-color-warning-bg: #c9e4ca;
  --ong-color-warning-text: #000000;

  --ong-color-danger-bg: #87bba2;
  --ong-color-danger-text: #000000;

  --ong-color-success-bg: #55828b;
  --ong-color-success-text: #FFFFFF;

  --ong-color-info-bg: #3b6064;
  --ong-color-info-text: #FFFFFF;

  --ong-color-primary-bg: #364958;
  --ong-color-primary-text: #FFFFFF;
}
