:root, [data-ong-theme="rainbow-soft"] {
  --ong-color-warning-bg: #F9D48B;
  --ong-color-warning-text: #000000;

  --ong-color-danger-bg: #FF858D;
  --ong-color-danger-text: #000000;

  --ong-color-success-bg: #62A78A;
  --ong-color-success-text: #FFFFFF;

  --ong-color-info-bg: #70C1FF;
  --ong-color-info-text: #000000;

  --ong-color-primary-bg: #38618C;
  --ong-color-primary-text: #FFFFFF;
}
