:root, [data-ong-theme="rainbow"] {
  --ong-color-warning-bg: #fff53b;
  --ong-color-warning-text: #000000;

  --ong-color-danger-bg: #fd1f1f;
  --ong-color-danger-text: #000000;

  --ong-color-success-bg: #25fa96;
  --ong-color-success-text: #000000;

  --ong-color-info-bg: #4ea2fa;
  --ong-color-info-text: #FFFFFF;

  --ong-color-primary-bg: #0054f3;
  --ong-color-primary-text: #FFFFFF;
}
