:root, [data-ong-theme="raspberry"] {
  --ong-color-warning-bg: #F8D96A;
  --ong-color-warning-text: #000000;

  --ong-color-danger-bg: #8F2C73;
  --ong-color-danger-text: #FFFFFF;

  --ong-color-success-bg: #25fa96;
  --ong-color-success-text: #000000;

  --ong-color-info-bg: #40EAFA;
  --ong-color-info-text: #000000;

  --ong-color-primary-bg: #0D288C;
  --ong-color-primary-text: #FFFFFF;
}
