:root, [data-ong-theme="summer"] {
  --ong-color-secondary-bg: #e2e2e2;
  --ong-color-secondary-text: #000000;

  --ong-color-warning-bg: #FFEC5C;
  --ong-color-warning-text: #000000;

  --ong-color-danger-bg: #FF5A33;
  --ong-color-danger-text: #ffffff;

  --ong-color-success-bg: #B4CF66;
  --ong-color-success-text: #000000;

  --ong-color-info-bg: #44803F;
  --ong-color-info-text: #FFFFFF;

  --ong-color-primary-bg: #146152;
  --ong-color-primary-text: #FFFFFF;

  --ong-color-dark-bg: #000000;
  --ong-color-dark-text: #FFFFFF;
}
