:root, [data-ong-theme="tenderness"] {
  --ong-color-warning-bg: #EDB45F;
  --ong-color-warning-text: #000000;

  --ong-color-danger-bg: #FFBB91;
  --ong-color-danger-text: #000000;

  --ong-color-success-bg: #60AFA2;
  --ong-color-success-text: #000000;

  --ong-color-info-bg: #93C4CD;
  --ong-color-info-text: #000000;

  --ong-color-primary-bg: #3A5378;
  --ong-color-primary-text: #FFFFFF;
}
