:root, [data-ong-theme="twilight"] {
  --ong-color-warning-bg: #F2F2EB;
  --ong-color-warning-text: #000000;

  --ong-color-danger-bg: #BFBDB8;
  --ong-color-danger-text: #000000;

  --ong-color-success-bg: #D9D8D7;
  --ong-color-success-text: #000000;

  --ong-color-info-bg: #73726F;
  --ong-color-info-text: #FFFFFF;

  --ong-color-primary-bg: #403F3C;
  --ong-color-primary-text: #FFFFFF;
}
