<div class="row pallet">
  <div class="bg-light c">&nbsp;</div>
  <div class="bg-secondary c">&nbsp;</div>
  <div class="bg-warning c">&nbsp;</div>
  <div class="bg-danger c">&nbsp;</div>
  <div class="bg-success c">&nbsp;</div>
  <div class="bg-info c">&nbsp;</div>
  <div class="bg-primary c">&nbsp;</div>
  <div class="bg-dark c">&nbsp;</div>
</div>

<code class="fix-menu-up">
  <a class="ml-1 box box-danger" href="#/styles">Styles</a>
  <a class="ml-1 box box-danger" href="#/icons">Icons</a>
</code>

<div class="row mt-4 bq">
  <div class="col">
    <h1>@Onega-UI / <span class="tc-warning">UI Kit for Angular</span></h1>
  </div>
</div>


<h3 class="mt-2">links</h3>

<code class="mt-2">
  <a target="_blank" class="mr-1 box box-info" href="https://www.npmjs.com/package/@onega-ui/core">@onega-ui/core</a>
  <a target="_blank" class="mr-1 box box-info" href="https://www.npmjs.com/package/@onega-ui/icons">@onega-ui/icons</a>
  <a target="_blank" class="mr-1 box box-info"
     href="https://www.npmjs.com/package/@onega-ui/styles">@onega-ui/styles</a>
  <a target="_blank" class="mr-1 box box-warning" href="https://github.com/osspkg/onega-ui">GitHub</a>
</code>

<h3 class="mt-2">installation</h3>
<pre class="mt-2 bq">
yarn add @onega-ui/{{'{'}}core,icons,styles{{'}'}}
</pre>

<h3 class="mt-2">styles.scss</h3>
<pre class="mt-2 bq">
@import "@onega-ui/icons";
@import "@onega-ui/styles";
</pre>

<h3 class="mt-2">app.module.ts</h3>
<pre class="mt-2 bq">{{moduleText}}</pre>

<h3 class="mt-2">themes</h3>
<pre class="mt-2 bq">
@import "@onega-ui/styles/themes/rainbow";
@import "@onega-ui/styles/themes/tenderness";
@import "@onega-ui/styles/themes/summer";
@import "@onega-ui/styles/themes/twilight";
</pre>

<h3 class="mt-2">customization variables</h3>
<pre class="mt-2 bq">{{customVar}}</pre>

